.basicinformation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
  aside {
    width: 12.5%;
    .basicinformation-image {
      width: 100%;
    }
    &.left {
    }
    &.right {
    }
  }
  .basicinformation-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    .image {
      width: 100%;
    }
    .summary {
      margin: 1.25em 0em;
      font-size: 1.25em;
      font-weight: bold;
    }
  }
}
