@import url(https://fonts.googleapis.com/css?family=Nanum+Gothic);

.basicinformation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Nanum Gothic", sans-serif;

  width: 100%;
  aside {
    width: 12.5%;
    .basicinformation-image {
      width: 100%;
    }

    &.left {
    }
    &.right {
    }
  }

  .buttons {
    .button {
      font-family: "Nanum Gothic", sans-serif;

      color: black;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    }
  }
  .basicinformation-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    .image {
      width: 100%;
    }
    .summary {
      margin: 1.25em 0em;
      font-size: 1.25em;
      font-weight: bold;
    }
  }
}
