body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.left,
.right {
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    .button {
      width: 100%;
      margin: 0.125em 0em;
      padding: 0.25em 0.5em;
      font-weight: bold;
      background-color: white;
      color: rgb(27, 20, 100);
      border: 1px solid black;
      .button-value {
        display: flex;
      }
    }
  }
}

.right {
  text-align: center;
  .right {
    padding: 0.125em;
    color: rgb(27, 20, 100);
    background-color: rgb(159, 169, 216);
    font-weight: bold;
    font-size: 1.5em;
  }
}
