.backgroundbox {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  .rightbox {
    text-align: center;
  }
}

.logobox {
  text-align: center;
}

.whitebox {
  background: white;
}
.right_user {
  height: 43px;
  width: 250px;
  border: 1px solid black;
}
.pupple {
  background: purple;
  width: 10px;
}
.inputbox {
  outline: none;
  border: none;
  height: 40px;
}
