a.button {
  -webkit-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  display: block;
  width: 320px;
  height: 142px;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 30px;
  border: 1px solid;
}

.button12 {
  background-image: url("../assets/main_icon12.png");
  -webkit-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  display: block;

  width: 320px;
  height: 142px;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 30px;
  border: 1px solid;
}

a.button button {
  color: rgba(30, 22, 54, 0.6);
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

.main_icon1 {
  background-image: url("../assets/main_icon1.png") !important  ;
}
.main_icon2 {
  background-image: url("../assets/main_icon2.png") !important  ;
}
.main_icon3 {
  background-image: url("../assets/main_icon3.png") !important  ;
}
.main_icon4 {
  background-image: url("../assets/main_icon4.png") !important  ;
}
.main_icon5 {
  background-image: url("../assets/main_icon5.png") !important  ;
}
.main_icon6 {
  background-image: url("../assets/main_icon6.png") !important  ;
}
.main_icon7 {
  background-image: url("../assets/main_icon7.png") !important  ;
}
.main_icon8 {
  background-image: url("../assets/main_icon8.png") !important  ;
}
.main_icon9 {
  background-image: url("../assets/main_icon9.png") !important  ;
}
.main_icon10 {
  background-image: url("../assets/main_icon10.png") !important  ;
}
.main_icon11 {
  background-image: url("../assets/main_icon11.png") !important  ;
}
.main_icon12 {
  background-image: url("../assets/main_icon12.png") !important  ;
}

a.button:hover {
  color: rgba(255, 255, 255, 0.86);
  box-shadow: rgba(30, 22, 54, 0.3) 0 0px 10px 10px inset;

  /* background-color: rgba(30, 22, 54, 0.4);

*/
}
.backbox {
  padding: 20px;
  width: 100%;
  height: 400px;
  color: white;
}
.garbage {
  width: 100%;
  height: 200px;
}

/* 12번 기본정보화면 박스*/
.nomal_box {
  height: auto;
  transition: all 1s;
  z-index: 5;
  position: absolute;
  transform: translateY(-70vw);
  transform: translateX(3vw);
}
