.treemanage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
  aside {
    width: 12.5%;
    .treemanage-image {
      width: 100%;
    }
    &.left {
    }
    &.right {
    }
  }
  .treemanage-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    .image {
      width: 80%;
    }
    .summary {
      margin: 1.25em 0em;
      font-size: 1.25em;
      font-weight: bold;
    }
  }
}
.right {
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .button {
      width: 100%;
      margin: 0.125em 0em;
      padding: 0.25em 1.5em;
      font-weight: bold;
      .button-value {
        display: flex;
      }
    }
  }
}
